<div class="d-flex bg-black gap-16 py-16">
  <!-- more -->
  <div class="position-relative" style="width: 132px;height: 132px;">
    <svg class="overflow-visible animate-circle" viewBox="0 0 116 116">
      <path d="M 0,58 a 58,58 0 1,1 0,1 z" id="circle" fill="none" />
      <text class="ls-10" fill="white">
        <textPath xlink:href="#circle">
          ALPHABOX+ALPHABOX+
        </textPath>
      </text>
    </svg>
    <a href="#" class="position-absolute top-50 start-50 translate-middle text-white">查看更多</a>
  </div>

  <!-- arrow -->
  <div class="position-relative" style="width: 196px;height: 196px;">
    <svg class="overflow-visible animate-circle" viewBox="0 0 116 116">
      <path d="M 0,58 a 58,58 0 1,1 0,1 z" id="circle" fill="none" />
      <text class="ls-10" fill="white">
        <textPath xlink:href="#circle">
          ALPHABOX+ALPHABOX+
        </textPath>
      </text>
    </svg>
    <a href="#" class="position-absolute top-50 start-50 translate-middle material-icons text-white" style="font-size: 40px;">arrow_downward</a>
  </div>

  <!-- dot -->
  <div class="position-relative" style="width: 196px;height: 196px;">
    <svg class="overflow-visible animate-circle" viewBox="0 0 116 116">
      <path d="M 0,58 a 58,58 0 1,1 0,1 z" id="circle" fill="none" />
      <text class="ls-10" fill="white">
        <textPath xlink:href="#circle">
          ALPHABOX+ALPHABOX+
        </textPath>
      </text>
    </svg>
    <div class="position-absolute top-50 start-50 translate-middle bg-white rounded-circle" style="width: 20px; height: 20px;"></div>
  </div>
</div>
