<!-- 使用分享 -->
<div class="bg-radialToLight overflow-hidden">
  <div class="container pt-20 pt-lg-32 text-white position-relative">
    <div class="row gy-4 mb-6 mb-lg-10">
      <div class="col-12 col-lg-5">
        <h2 class="fs-2 ls-40 ls-lg-48">使用分享</h2>
      </div>
      <div class="col-12 order-lg-1">
        <span>01 － 04</span>
      </div>
      <div class="col-12 col-lg-7 d-flex align-items-center">
        <p class="pt-2 pt-lg-0">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
      </div>
    </div>

    <svg class="mb-4 mb-lg-6" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
      <mask id="mask0_256_5041" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80" height="80">
        <rect width="80" height="80" fill="#D9D9D9" />
      </mask>
      <g mask="url(#mask0_256_5041)">
        <path d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z" fill="white" />
      </g>
    </svg>

    <ul class="row row-cols-1 row-cols-md-2 gy-6 d-lg-none">
      <li class="col">
        <div class="bg-ap-600 p-10 d-flex flex-column fw-700" style="height: 350px;">
          <p class="mb-8">Zona·Taipei</p>
          <p class="text-justify">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
          <p class="mt-auto">
            <span class="rounded-5 d-inline-block bg-white me-4" style="width: 16px; height: 16px;"></span>
            <span class="rounded-5 d-inline-block bg-white me-4" style="width: 16px; height: 16px;"></span>
            ALPHABOX+ Dianne
          </p>
        </div>
      </li>
      <li class="col">
        <div class="bg-white text-black p-10 d-flex flex-column fw-700" style="height: 350px;">
          <p class="mb-8">Lin·Chiayi</p>
          <p class="text-justify">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
          <p class="mt-auto">
            <span class="rounded-5 d-inline-block bg-black me-4" style="width: 16px; height: 16px;"></span>
            <span class="rounded-5 d-inline-block bg-black me-4" style="width: 16px; height: 16px;"></span>
            ALPHABOX+ Felix
          </p>
        </div>
      </li>
      <li class="col">
        <div class="bg-ap-600 p-10 d-flex flex-column fw-700" style="height: 350px;">
          <p class="mb-8">云·Taipei</p>
          <p class="text-justify">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
          <p class="mt-auto">
            <span class="rounded-5 d-inline-block bg-white me-4" style="width: 16px; height: 16px;"></span>
            <span class="rounded-5 d-inline-block bg-white me-4" style="width: 16px; height: 16px;"></span>
            ALPHABOX+ Dianne
          </p>
        </div>
      </li>
      <li class="col">
        <div class="bg-white text-black p-10 d-flex flex-column fw-700" style="height: 350px;">
          <p class="mb-8">Zichi·Kaohsiung</p>
          <p class="text-justify">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
          <p class="mt-auto">
            <span class="rounded-5 d-inline-block bg-black me-4" style="width: 16px; height: 16px;"></span>
            <span class="rounded-5 d-inline-block bg-black me-4" style="width: 16px; height: 16px;"></span>
            ALPHABOX+ Vito
          </p>
        </div>
      </li>
    </ul>


    <div class="d-none d-lg-block">
      <div class="swiper overflow-visible">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="bg-ap-600 p-10 d-flex flex-column fw-700" style="height: 350px;">
              <p class="mb-8">Zona·Taipei</p>
              <p class="text-justify">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
              <p class="mt-auto">
                <span class="rounded-5 d-inline-block bg-white me-4" style="width: 16px; height: 16px;"></span>
                <span class="rounded-5 d-inline-block bg-white me-4" style="width: 16px; height: 16px;"></span>
                ALPHABOX+ Dianne
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-white text-black p-10 d-flex flex-column fw-700" style="height: 350px;">
              <p class="mb-8">Lin·Chiayi</p>
              <p class="text-justify">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
              <p class="mt-auto">
                <span class="rounded-5 d-inline-block bg-black me-4" style="width: 16px; height: 16px;"></span>
                <span class="rounded-5 d-inline-block bg-black me-4" style="width: 16px; height: 16px;"></span>
                ALPHABOX+ Felix
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-ap-600 p-10 d-flex flex-column fw-700" style="height: 350px;">
              <p class="mb-8">云·Taipei</p>
              <p class="text-justify">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
              <p class="mt-auto">
                <span class="rounded-5 d-inline-block bg-white me-4" style="width: 16px; height: 16px;"></span>
                <span class="rounded-5 d-inline-block bg-white me-4" style="width: 16px; height: 16px;"></span>
                ALPHABOX+ Dianne
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-white text-black p-10 d-flex flex-column fw-700" style="height: 350px;">
              <p class="mb-8">Zichi·Kaohsiung</p>
              <p class="text-justify">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
              <p class="mt-auto">
                <span class="rounded-5 d-inline-block bg-black me-4" style="width: 16px; height: 16px;"></span>
                <span class="rounded-5 d-inline-block bg-black me-4" style="width: 16px; height: 16px;"></span>
                ALPHABOX+ Vito
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mt-5">
        <div class="col-8">
          <div class="swiper-scrollbar position-static" style="background-color: white"></div>
        </div>
        <div class="col-1">
          <p class="mb-0 text-white">SCROLL</p>
        </div>
      </div>
    </div>

    <p class="d-none d-xxxl-block text-white position-absolute bottom-0 start-0 mb-10">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
    
    <div class="d-flex justify-content-center">
      <p class="feature-font-family fs-lg lh-1 share-bg">ALPHABOX+</p>
    </div>
  </div>
</div>













