
<div class="bg-radial">
  <div class="container py-20 py-lg-32 text-white position-relative">
    <!-- 文字因為 letter-spacing 無法完全置中 -->
    <h2 class="mb-8 mb-lg-10 fs-2 text-center text-sm-start ls-40 ls-lg-48">最新消息</h2>
    <ul class="row border-top-lg border-bottom-lg mb-10 mb-lg-19">
      <li class="col-12">
        <div class="border-top border-top-lg-0 py-8 py-lg-10 px-4">
          <div class="mb-2 d-flex align-items-center">
            <svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_233_4964" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_233_4964)">
                <path d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z" fill="white" />
              </g>
            </svg>
            <p class="ls-16">2023.06.30</p>
          </div>
          <h3 class="mb-3 fs-5 ls-20">產品限時公告</h3>
          <div class="row justify-content-lg-between">
            <div class="col-lg-9">
              <p class="mb-3 mb-lg-0 text-justify">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
            </div>
            <div class="col-lg-3 d-flex justify-content-lg-end">
              <svg xmlns="http://www.w3.org/2000/svg" width="196" height="24" viewBox="0 0 196 24" fill="none">
                <mask id="mask0_237_5007" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="196" height="24">
                  <rect width="196" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_237_5007)">
                  <path d="M183 19L186.425 13H2V11H186.425L183 5L194 12L183 19Z" fill="white" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-6 border-top-lg border-end-lg">
        <div class="d-flex flex-column h-100 border-top border-top-lg-0 py-8 py-lg-10 px-4">
          <div class="mb-2 d-flex align-items-center">
            <svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_233_4964" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_233_4964)">
                <path d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z" fill="white" />
              </g>
            </svg>
            <p class="ls-16">2023.06.30</p>
          </div>
          <h3 class="mb-3 fs-5 ls-20">限時優惠活動</h3>
          <div class="row justify-content-lg-between">
            <div class="col-12">
              <p class="mb-3 mb-lg-0 text-justify">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
            </div>
            <div class="col-12">
              <svg width="90" height="24" viewBox="0 0 90 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_435_2013" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="90" height="24">
                  <rect width="90" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_435_2013)">
                  <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-6 border-top-lg">
        <div class="d-flex flex-column h-100 border-top border-top-lg-0 border-bottom border-bottom-lg-0 py-8 py-lg-10 px-4">
          <div class="mb-2 d-flex align-items-center">
            <svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_233_4964" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_233_4964)">
                <path d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z" fill="white" />
              </g>
            </svg>
            <p class="ls-16">2023.04.18</p>
          </div>
          <h3 class="mb-3 fs-5 ls-20">新功能上線</h3>
          <div class="row justify-content-lg-between">
            <div class="col-12">
              <p class="mb-3 mb-lg-0 text-justify">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
            </div>
            <div class="col-12">
              <svg width="90" height="24" viewBox="0 0 90 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_435_2013" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="90" height="24">
                  <rect width="90" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_435_2013)">
                  <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="d-flex justify-content-center">
      <div class="position-relative" style="width: 132px;height: 132px;">
        <svg class="overflow-visible animate-circle" viewBox="0 0 116 116">
          <path d="M 0,58 a 58,58 0 1,1 0,1 z" id="circle" fill="none" />
          <text class="ls-10" fill="white">
            <textPath xlink:href="#circle">
              ALPHABOX+ALPHABOX+
            </textPath>
          </text>
        </svg>
        <a href="#" class="position-absolute top-50 start-50 translate-middle text-white">查看更多</a>
      </div>
    </div>

    <p class="d-none d-lg-block position-absolute end-0" style="bottom: 40px;">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
  </div>
</div>