<div class="bg-primary text-white">
  <div class="container">
    <div class="d-flex flex-column pt-7">
      <div class="border-top border-1 pt-2">
        ALPHABOX+ STUDIO
      </div>
      <div class="position-relative ol-1 my-16 mx-auto" style="width: 196px;height: 196px;">
        <svg class="overflow-visible animate-circle" viewBox="0 0 116 116">
          <path d="M 0,58 a 58,58 0 1,1 0,1 z" id="circle" fill="none" />
          <text class="ls-10" fill="white">
            <textPath xlink:href="#circle">
              ALPHABOX+ALPHABOX+
            </textPath>
          </text>
        </svg>
        <div class="position-absolute top-50 start-50 translate-middle bg-white rounded-circle" style="width: 20px; height: 20px;"></div>
      </div>

      <div class="text-center">
        <h1 class="feature-font-family fs-5">ALPHABOX+</h1>
        <p>擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
      </div>

      <ul class="row row-cols-lg-4">
        <li class="col">
          <picture>
            <source srcset="../assets/images/" media="(min-width: 1200px)">
            <source srcset="../assets/images/" media="(min-width: 600px)">
            <img src="logo-narrow.png">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- 
<div class="bg-linear">
  <div class="mw-1760 mx-auto vh-100">
    <div class="row py-20">
      <div class="col">
        <img src="../assets/images/diane.png" alt="">
      </div>
      <div class="col d-flex">
        <img class="mt-auto" src="../assets/images/felix.png" alt="">
      </div>
      <div class="col d-flex">
        <img class="mt-auto" src="../assets/images/karina.png" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/vito.png" alt="">
      </div>
    </div>
  </div>
</div>
-->