<!-- 虛擬人物介紹 -->
<ul class="row row-cols-2 row-cols-lg-4 g-0">
  <li class="col position-relative border-end border-1">
    <a href="#" class="card rounded-0 text-white py-6 px-3 py-lg-14 px-lg-10" style="background-image: url('../assets/images/diane_vertical.png');">
      <h3 class="feature-font-family fs-3 text-center mb-4 mb-xxxl-10">
        <span class="d-block saira-font-family fs-lg fw-300 text-center">1</span>
        <div class="mt-4 mt-xxx-5">Diane</div>
      </h3>
      <div class="d-flex flex-column flex-xxxl-row justify-content-xxxl-between align-items-xxxl-end">
        <div>
          <p>知識型</p>
          <p>學術領導/知識分享/智能問答</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
          <mask id="mask0_3535_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
            <rect width="155" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3535_6)">
            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
          </g>
        </svg>
      </div>
    </a>
  </li>
  <li class="col position-relative border-end border-1">
    <a href="#" class="card rounded-0 text-white py-6 px-3 py-lg-14 px-lg-10" style="background-image: url('../assets/images/felix_vertical.png');">
      <h3 class="feature-font-family fs-3 text-center mb-4 mb-xxxl-10">
        <span class="d-block saira-font-family fs-lg fw-300 text-center">2</span>
        <div class="mt-4 mt-xxx-5">Felix</div>
      </h3>
      <div class="d-flex flex-column flex-xxxl-row justify-content-xxxl-between align-items-xxxl-end">
        <div>
          <p>娛樂型</p>
          <p>音樂播放/語音互動/遊戲陪伴</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
          <mask id="mask0_3535_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
            <rect width="155" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3535_6)">
            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
          </g>
        </svg>
      </div>
    </a>
  </li>
  <li class="col position-relative border-end border-1">
    <a href="#" class="card rounded-0 text-white py-6 px-3 py-lg-14 px-lg-10" style="background-image: url('../assets/images/karina_vertical.png');">
      <h3 class="feature-font-family fs-3 text-center mb-4 mb-xxxl-10">
        <span class="d-block saira-font-family fs-lg fw-300 text-center">3</span>
        <div class="mt-4 mt-xxx-5">Karina</div>
      </h3>
      <div class="d-flex flex-column flex-xxxl-row justify-content-xxxl-between align-items-xxxl-end">
        <div>
          <p>情感型</p>
          <p>情感識別/心情分析/心靈支持</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
          <mask id="mask0_3535_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
            <rect width="155" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3535_6)">
            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
          </g>
        </svg>
      </div>
    </a>
  </li>
  <li class="col position-relative">
    <a href="#" class="card rounded-0 text-white py-6 px-3 py-lg-14 px-lg-10" style="background-image: url('../assets/images/vito_vertical.png');">
      <h3 class="feature-font-family fs-3 text-center mb-4 mb-xxxl-10">
        <span class="d-block saira-font-family fs-lg fw-300 text-center">4</span>
        <div class="mt-4 mt-xxx-5">Vito</div>
      </h3>
      <div class="d-flex flex-column flex-xxxl-row justify-content-xxxl-between align-items-xxxl-end">
        <div>
          <p>情感型</p>
          <p>情感識別/心情分析/心靈支持</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
          <mask id="mask0_3535_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
            <rect width="155" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3535_6)">
            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
          </g>
        </svg>
      </div>
    </a>
  </li>
</ul>