<!-- 使用分享 -->
<div class="bg-radialToLight overflow-hidden">
  <div class="container py-20 py-lg-32 text-white">
    <div class="row">
      <div class="col">
        <h2 class="fs-2 text-center text-sm-start ls-40 ls-lg-48">使用分享</h2>
        <span>01 － 04</span>
      </div>
      <div class="col">
        <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
      </div>
    </div>

    <div class="">
      <div class="swiper overflow-visible">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide p-10 bg-ap-600 text-white">
            <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
          </div>
          <div class="swiper-slide p-10 bg-white">
            <p class="text-black">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
          </div>
          <div class="swiper-slide p-10 bg-ap-600 text-white">
            <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
          </div>
          <div class="swiper-slide p-10 bg-white">
            <p class="text-black">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
          </div>
        </div>
      </div>
      <!-- Scrollbar -->
      <div class="row align-items-center mt-5">
        <div class="col-8">
          <div class="swiper-scrollbar position-static bg-white"></div>
        </div>
        <div class="col-1">
          <p class="mb-0 text-white">SCROLL</p>
        </div>
      </div>
    </div>

  </div>
</div>