<nav aria-label="news pagination">
  <ul class="pagination gap-8">
    <li class="page-item active"><a class="page-link saira-font-family" style="font-size: 24px" href="#">1</a></li>
    <li class="page-item"><a class="page-link saira-font-family" style="font-size: 24px" href="#">2</a></li>
    <li class="page-item"><a class="page-link saira-font-family" style="font-size: 24px" href="#">3</a></li>
  </ul>
</nav>