.btn-main{
  border: 1px solid $white !important;
  padding: 4px 16px;
  color: $white;
  
  @include media-breakpoint-up(lg){
    padding: 4px 80px;
  }

  &:hover{
    background-color: $white;
    color: $primary;
  }
  
  &.active{
    background-color: $white;
    color: $black;
  }
}
