
$utilities: ();
$utilities: map-merge(
  (
    "font-weight": (
    property: font-weight,
    class: fw,
    values: (
      lighter: $font-weight-lighter,
      light: $font-weight-light,
      normal: $font-weight-normal,
      medium: $font-weight-medium,
      semibold: $font-weight-semibold,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder,
      300: 300,
      400: 400,
      500: 500,
      600: 600,
      700: 700,
    )
  ),
    "font-size": (
      // rfs: true,
      responsive: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "text-align": (
      responsive: true,
      
      property: text-align,
      class: text,
      values: (
        start: left,
        end: right,
        center: center,
        justify: justify,
      )
    ),
    "position": (
      responsive: true,
      property: position,
      values: static relative absolute fixed sticky
    ),
    "top": (
      responsive: true,
      property: top,
      values: $position-values
    ),
    "bottom": (
      responsive: true,
      property: bottom,
      values: $position-values
    ),
    "start": (
      responsive: true,
      property: left,
      class: start,
      values: $position-values
    ),
    "end": (
      responsive: true,
      property: right,
      class: end,
      values: $position-values
    ),
  ),
  $utilities
);
