<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>ALPHABOX+｜關於我們</title>
</head>

<body>
  <header class="position-fixed top-0 start-0 end-0 m-auto z-3">
    <%- include('./layout/header'); -%>
  </header>

  <div class="pt-16">
    <div class="bg-radialToDark">
      <div class="pt-15 py-lg-40 pb-20">
        <div class="container">
          <h2 class="mb-6 mb-lg-8 fs-2 text-white ls-40 ls-lg-48">關於我們</h2>
          <div class="row mb-6 mb-lg-9 text-white">
            <div class="col-lg-6">
              <p class="mb-8 mb-lg-0 text-justify">創立於2021年，我們的使命是將科技與人性化設計相結合，為您打造最佳的3D立體投影陪伴機器人。憑藉創新的技術、卓越的研發團隊以及對品質的追求，我們致力於為全球用戶提供最先進且易用的陪伴機器人。</p>
            </div>
            <div class="col-lg-6">
              <p class="mb-6 mb-lg-0 text-justify text-lg-end">我們擁抱變革，追求技術創新，以提供更卓越的產品給全球用戶。</p>
              <p class="mb-6 mb-lg-0 text-justify text-lg-end">我們始終以用戶需求為核心，致力於提供最滿意的產品與服務。</p>
              <p class="mb-6 mb-lg-0 text-justify text-lg-end">我們堅持高品質標準，確保每一款產品都經過嚴格的測試與品質把控。</p>
              <p class="text-justify text-lg-end">我們重視團隊協作，鼓勵創意交流，共同為實現願景而努力。</p>
            </div>
          </div>
        </div>

        <div class="mb-4 mb-lg-11">
          <picture>
            <source srcset="../assets/images/about_us.png" media="(min-width: 992px)">
            <img class="w-100" src="../assets/images/mobile/about_us_mobile.png" alt="about us">
          </picture>
        </div>

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-1 text-center text-lg-start mb-2 mb-lg-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                <mask id="mask0_450_2725" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80" height="80">
                  <rect width="80" height="80" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_450_2725)">
                  <path d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z" fill="white" />
                </g>
              </svg>
            </div>
            <div class="col-lg-7 d-flex align-items-center">
              <p class="text-white text-justify">我們相信科技的力量能夠改變人類生活。通過不斷創新與優化，我們期待為您打造一款具有高度智能、豐富功能且呈現真實感的3D立體投影陪伴機器人，讓科技成為您生活中真誠的夥伴。 </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mw-1760 mx-auto">
      <div class="mb-4 border-bottom border-1 border-black">
        <div class="my-6 my-lg-10">
          <div class="row g-0">
            <div class="col">
              <div class="px-5">
                <img src="../assets/images/hand.png" alt="hand">
              </div>
            </div>
            <div class="col d-none d-lg-block">
              <div class="px-3 px-lg-5">
                <img src="../assets/images/screen.png" alt="screen">
              </div>
            </div>
            <div class="col d-none d-lg-block">
              <div class="px-5">
                <img src="../assets/images/box.png" alt="box">
              </div>
            </div>
          </div>
        </div>

        <div class="mb-6 mb-lg-20">
          <h2 class="mb-6 mb-lg-20 text-center fs-24 fs-lg-48 fs-xxl-96 fw-900 ls-24 ls-lg-48 ls-xxl-96">ALPHABOX+</h2>
          <div class="px-5 d-flex flex-column flex-xxl-row justify-content-xxl-between align-items-xxl-end">
            <p class="mb-4 mb-lg-0 text-justify" style="max-width: 758px">我們提供多款3D立體投影陪伴機器人，涵蓋知識型、娛樂型、生活型和情感型等不同類別，以滿足您的各種需求。每款產品都經過精心設計，具備高度智能化、多功能和人性化操作等特點，讓您在日常生活中獲得更便利的陪伴體驗。</p>
            <p class="text-justify">此外，我們還提供完善的售後服務，包括
              <span class="d-inline-block ">產品保固</span>、
              <span class="d-inline-block ">技術支援</span> 及
              <span class="d-inline-block ">線上客服</span> <br class="d-none d-lg-block">
              協助，確保您在購買與使用過程中得到全面支持。
            </p>
          </div>
        </div>
      </div>

      <div class="border-top border-12 border-black py-15 py-lg-40">
        <div class="container">
          <div class="row gy-4 gy-lg-0">
            <div class="col-lg-7">
              <img src="../assets/images/meeting.png" alt="meeting">
            </div>
            <div class="col-lg-5">
              <p class="h-100 d-flex align-items-center text-justify">展望未來，我們將繼續投入研發，引領3D立體投影陪伴機器人技術的發展。通過結合虛擬現實、擴增現實和人工智能等領域的最新技術，我們將努力為用戶帶來更多前所未有的創新體驗。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-black">
    <div class="container py-12 py-lg-6">
      <div class="row justify-content-center gy-6 gy-lg-0">
        <div class="col-lg-8">
          <p class="text-white text-justify">我們熱忱歡迎有志之士加入我們的團隊，共同創造更美好的未來。如果您對科技充滿熱情，並擁有相關領域的專業知識，請隨時查看我們的招聘信息或與我們聯繫，讓我們攜手共進。</p>
        </div>
        <div class="col-lg-2">
          <a href="#" class="btn btn-white w-100 d-flex align-items-center justify-content-center">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_3211_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_3211_65)">
                <path
                  d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                  fill="black" />
              </g>
            </svg>
            查看職缺
          </a>
        </div>
      </div>
    </div>
  </div>

  <%- include('./layout/footer'); -%>
  <script type="module" src="../main.js"></script>
</body>

</html>