<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>ALPHABOX+｜常見問題</title>
</head>

<body>
  <header class="position-fixed top-0 start-0 end-0 m-auto z-3">
    <%- include('./layout/header'); -%>
  </header>

    <div class="bg-secondary pt-16 pb-lg-32 pb-20">
      <div class="container">
        <h1 class="py-lg-16 py-10 border-dotted fw-900 ls-40 ls-lg-48 mb-8 mb-lg-10">FAQ</h1>
        <div class="row">
          <div class="col-lg-4">
            <div class="list-group">
              <a href="#" class="list-group-item p-0 mb-4 list-group-item-action text-ap-800" aria-current="true">
                ALPHABOX+ 使用問題
              </a>
              <a href="#" class="list-group-item p-0 mb-4 list-group-item-action text-ap-800">訂購與運送</a>
              <a href="#" class="list-group-item p-0 mb-lg-4 mb-6 list-group-item-action text-ap-800">產品保養與維修</a>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item border-dotted pb-10 bg-secondary mt-8 mt-lg-0">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-secondary p-0 text-ap-800" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ALPHABOX+ 的使用方式是什麼？
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body p-0 bg-secondary pt-4 text-ap-800">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </div>
              <div class="accordion-item border-dotted pb-10 bg-secondary mt-8 mt-lg-10">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-secondary p-0 text-ap-800 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ALPHABOX+ 需要什麼樣的環境來使用？
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body p-0 bg-secondary pt-4 text-ap-800">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </div>
              <div class="accordion-item border-dotted pb-10 bg-secondary mt-8 mt-lg-10">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-secondary p-0 text-ap-800 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ALPHABOX+ 支援哪些語言？
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body p-0 bg-secondary pt-4 text-ap-800">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </div>
              <div class="accordion-item border-dotted pb-10 bg-secondary mt-8 mt-lg-10">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-secondary p-0 text-ap-800 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="ccollapseFour">
                    ALPHABOX+ 的軟體更新方式為何？
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body p-0 bg-secondary pt-4 text-ap-800">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </div>
              <div class="accordion-item border-dotted pb-10 bg-secondary mt-8 mt-lg-10">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-secondary p-0 text-ap-800 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="ccollapseFive">
                    購買 ALPHABOX+ 後的售後服務如何？
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body p-0 bg-secondary pt-4 text-ap-800">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </div>
              <div class="accordion-item border-dotted pb-10 bg-secondary mt-8 mt-lg-10">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-secondary p-0 text-ap-800 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="ccollapseSix">
                    ALPHABOX+ 與其他智能家居設備的相容性如何？
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body p-0 bg-secondary pt-4 text-ap-800">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>