<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>ALPHABOX+｜首頁</title>
</head>

<body>
  <header class="position-fixed top-0 start-0 end-0 m-auto border-bottom border-1 z-3">
    <%- include('./layout/header'); -%>
  </header>

  <div class="pt-16">
    <%- include('./layout/index-banner'); -%>
    <%- include('./layout/index-new'); -%>
    <%- include('./layout/index-share'); -%>
    <%- include('./layout/index-contact'); -%>
    <%- include('./layout/index-intro'); -%>
  </div>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>