<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>ALPHABOX+｜產品</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="pt-17">
      <div class="bg-black">
        <div class="container">
          <div class="py-4 d-flex justify-content-center gap-2 gap-lg-6">
            <button class="btn btn-main py-1 px-4 px-lg-20 rounded-5 feature-font-family active">Diane</button>
            <button class="btn btn-main py-1 px-4 px-lg-20 rounded-5 feature-font-family">Felix</button>
            <button class="btn btn-main py-1 px-4 px-lg-20 rounded-5 feature-font-family">Karina</button>
            <button class="btn btn-main py-1 px-4 px-lg-20 rounded-5 feature-font-family">Vito</button>
          </div>
        </div>
      </div>

      <!-- banner -->


      <!--  -->
      
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>