<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>測試頁</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="py-14">
      <div class="container py-8">
        <h2 class="mb-4 border-bottom border-1 fs-2">Typography</h2>
        <ul>
          <li class="fs-1">思源黑體 Noto sans cjk tc</li>
          <li class="fs-2">思源黑體 Noto sans cjk tc</li>
          <li class="fs-3">思源黑體 Noto sans cjk tc</li>
          <li class="fs-4">思源黑體 Noto sans cjk tc</li>
          <li class="fs-5">思源黑體 Noto sans cjk tc</li>
          <li class="fs-6">思源黑體 Noto sans cjk tc</li>
        </ul>
        <ul>
          <li class="fs-1 feature-font-family text-primary">Shrikhand</li>
          <li class="fs-3 feature-font-family">Shrikhand</li>
        </ul>
      </div>

      <div class="bg-black">
        <div class="container py-8">
          <h2 class="mb-4 border-bottom border-1 fs-2 text-white">Components</h2>
          <div class="mb-3 d-flex gap-3">
            <button class="btn btn-main feature-font-family">Diane</button>
            <button class="btn btn-main feature-font-family">Felix</button>
            <button class="btn btn-main feature-font-family">Karina</button>
            <button class="btn btn-main feature-font-family">Vito</button>
          </div>
          <div class="mb-3 d-flex gap-3">
            <button class="btn btn-main feature-font-family active">Diane</button>
            <button class="btn btn-main feature-font-family active">Felix</button>
            <button class="btn btn-main feature-font-family active">Karina</button>
            <button class="btn btn-main feature-font-family active">Vito</button>
          </div>
          <div class="mb-3 d-flex gap-3">
            <a href="#" class="btn btn-white d-flex align-items-center">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_3211_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                  <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_3211_65)">
                  <path
                    d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                    fill="black" />
                </g>
              </svg>
              訂閱
            </a>
            <a href="#" class="btn btn-primary d-flex align-items-center">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_3211_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                  <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_3211_65)">
                  <path
                    d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                    fill="white" />
                </g>
              </svg>
              送出
            </a>
            <a href="#" class="btn btn-white d-flex align-items-center">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_3211_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                  <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_3211_65)">
                  <path
                    d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                    fill="black" />
                </g>
              </svg>
              查看職缺
            </a>
          </div>
          <div class="mb-3 d-flex gap-3">
            <button class="btn rounded-circle border border-2 d-flex align-items-center justify-content-center" style="width: 80px; height: 80px">
              <span class="material-icons text-white" style="font-size: 40px">arrow_back</span>
            </button>
            <button class="btn rounded-circle border border-2 d-flex align-items-center justify-content-center" style="width: 80px; height: 80px">
              <span class="material-icons text-white" style="font-size: 40px">arrow_forward</span>
            </button>
          </div>
          <div class="mb-3 d-flex gap-3 align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
              <mask id="mask0_2013_1241" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48">
              <rect width="180" height="48" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2013_1241)">
              <path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white"/>
              </g>
            </svg>
            <svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_2013_1238" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48">
              <rect width="180" height="48" fill="#28085C"/>
              </mask>
              <g mask="url(#mask0_2013_1238)">
              <path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="#828282"/>
              </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="306" height="14" viewBox="0 0 306 14" fill="none">
              <path d="M283.55 13.8939L290.486 8.24317H0.0500488V6.35961H290.486L283.55 0.708923L305.825 7.30139L283.55 13.8939Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="bg-black">
        <div class="container py-8">
          <h2 class="mb-4 border-bottom border-1 fs-2 text-white">Colors</h2>
          <ul class="row mb-4">
            <li class="col-2"><div class="rounded-3 bg-primary" style="height: 80px"></div></li>
            <li class="col-2"><div class="rounded-3 bg-ap-400" style="height: 80px"></div></li>
            <li class="col-2"><div class="rounded-3 bg-ap-800" style="height: 80px"></div></li>
            <li class="col-2"><div class="rounded-3 bg-ap-600" style="height: 80px"></div></li>
            <li class="col-2"><div class="rounded-3 bg-ap-900" style="height: 80px"></div></li>
            <li class="col-2"><div class="rounded-3 bg-linear" style="height: 80px"></div></li>
          </ul>
          <ul class="row">
            <li class="col-2"><div class="rounded-3 bg-black" style="height: 80px"></div></li>
            <li class="col-2"><div class="rounded-3 bg-white" style="height: 80px"></div></li>
            <li class="col-2"><div class="rounded-3 bg-secondary" style="height: 80px"></div></li>
            <li class="col-2"><div class="rounded-3 bg-radial" style="height: 80px"></div></li>
          </ul>
        </div>
      </div>

      <div class="container py-8">
        <h2 class="mb-4 border-bottom border-1 fs-2">AOS</h2>
        <img data-aos="fade-up" src="../assets/images/karina_square2.png" style="width: 300px;" alt="ai">
      </div>
    </div>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>